# Prepare data

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = 'https://shopee.co.th/api/v4/pages/get_category_tree'
category_list = requests.get(url).json()
product_class = pd.DataFrame.from_dict(category_list['data']['category_list'])[['catid', 'name']]
product_class = product_class.rename(columns={'catid':'product_class_id', 'name':'product_class_name'})
print("Total product_class :", product_class.shape[0])

product = pd.DataFrame(columns=['product_id', 'product_name', 'retail_price', 'product_class_id'])
for i in product_class['product_class_id'] :
    url = f"https://shopee.co.th/api/v4/recommend/recommend?bundle=category_landing_page&cat_level=1&catid={i}&limit=60&offset=0"
    data = pd.DataFrame.from_dict(requests.get(url).json()['data']['sections'][0]['data']['item'])[['name', 'price']]
    data['price'] = data['price'].astype('str').str.replace("00000", "").astype('int')
    data['product_class_id'] = i
    data = data.reset_index()
    data = data.rename(columns={'index':'product_id', 'name':'product_name' ,'price':'retail_price'})
    product = pd.concat([product, data], ignore_index=True)
print("Total product :", product.shape[0])

sales_transaction = pd.DataFrame(columns=['transaction_id', 'product_id', 'quantity'])
for i in range(1, 100) :
    no_item_bucket = np.random.randint(1,7)
    product_id = np.random.choice(product.shape[0], no_item_bucket)
    quantity = np.random.randint(1,10, no_item_bucket)
    transaction = pd.DataFrame(zip(product_id, quantity), columns=['product_id', 'quantity'])
    transaction['transaction_id'] = i
    sales_transaction = pd.concat([sales_transaction, transaction], ignore_index=True)
print("Total sales_transaction :", sales_transaction.shape[0])

Total product_class : 24
Total product : 1413
Total sales_transaction : 361

In [3]:
sales_transaction.head(10)

  transaction_id product_id quantity
0              1       1002        4
1              1        205        8
2              1        722        5
3              2        683        5
4              2       1318        9
5              2        108        2
6              3        310        6
7              3       1069        6
8              4       1072        9
9              4       1003        2

In [4]:
product.head(10)

,product_id,product_name,retail_price,product_class_id
0,0,BK529-LONG เสื้อยอดฮิต แจ็คเก็ต เเสื้อกันหนา...,20,11044945
1,1,ใหม่ เสื้ออภิชาติฟาร์ม ผ้ามันแขนสั้น เสื้อยืดเ...,108,11044945
2,2,กางขากระบอกใหญ่ Lazy ขาเริ่มต้นที่9,1050,11044945
3,3,กางเกงขาสั้นชิโน่ ผ้า Cotton100% นิ่มใส่สบาย b...,279,11044945
4,4,BK515-LONG เสื้อยอดฮิต แจ็คเก็ต เเสื้อกันหนา...,20,11044945
5,5,(ลูกค้าใหม่ 1 บาท) เสื้อ+กางเกงขาสั้น ผ้าเบา ไ...,128,11044945
6,6,LOOKER - กางเกงChino ทรงกระบอกเล็ก,290,11044945
7,7,กางเกงขาสั้น กางเกงขาสั้นลำลอง แห้งเร็ว กางเกง...,60,11044945
8,8,กางเกงในชาย กางเกงในผู้ชาย แพ็ค10ตัว M L XL,153,11044945
9,9,S-23 เสื้อยืด คอกลมสีพื้นปักมี 15สี M-XL,68,11044945

In [5]:
product_class.head(10)

   product_class_id      product_class_name
0          11044945             Men Clothes
1          11044944           Women Clothes
2          11044951        Mobile & Gadgets
3          11044959  Beauty & Personal Care
4          11044942       Health & Wellness
5          11044960             Baby & Toys
6          11044952       Watches & Glasses
7          11044956           Home & Living
8          11044949               Men Shoes
9          11044964                    Bags

In [6]:
import sqlite3
connect = sqlite3.connect('ecommerce.db')
sales_transaction.to_sql("sales_transaction", connect, if_exists='replace', index=False)
product.to_sql("product", connect, if_exists='replace', index=False)
product_class.to_sql("product_class", connect, if_exists='replace', index=False)

24

# SQL

In [7]:
%load_ext sql
%sql sqlite:///ecommerce.db

In [8]:
%%sql
SELECT * FROM sales_transaction LIMIT 10

 * sqlite:///ecommerce.db
Done.

[(1, 1002, 4),
 (1, 205, 8),
 (1, 722, 5),
 (2, 683, 5),
 (2, 1318, 9),
 (2, 108, 2),
 (3, 310, 6),
 (3, 1069, 6),
 (4, 1072, 9),
 (4, 1003, 2)]

In [9]:
%%sql
SELECT * FROM product LIMIT 10

 * sqlite:///ecommerce.db
Done.

[(0, 'BK529-LONG   เสื้อยอดฮิต แจ็คเก็ต เเสื้อกันหนาว เสื้อฮู้ดแขนยาวเสื้อผ้าแฟชั่นนานาชาต***ปลีก-ส่ง***', 20, 11044945),
 (1, 'ใหม่ เสื้ออภิชาติฟาร์ม ผ้ามันแขนสั้น เสื้อยืดเสื้อ อภิชาติฟาร์ม เเท้ เเขนสั้น สีดำ/ขาว 💢💢เสื้อจากงาน NGO มีของพร้อมส่ง', 108, 11044945),
 (2, 'กางขากระบอกใหญ่ Lazy ขาเริ่มต้นที่9', 1050, 11044945),
 (3, 'กางเกงขาสั้นชิโน่ ผ้า Cotton100% นิ่มใส่สบาย by Normal Boy', 279, 11044945),
 (4, 'BK515-LONG   เสื้อยอดฮิต แจ็คเก็ต เเสื้อกันหนาว เสื้อฮู้ดแขนยาวเสื้อผ้าแฟชั่นนานาชาต***ปลีก-ส่ง***', 20, 11044945),
 (5, '(ลูกค้าใหม่ 1 บาท) เสื้อ+กางเกงขาสั้น ผ้าเบา ไม่หด ไม่ย้วย เสื้อยืดคอกลมสีพื้น ชุดกีฬาผู้ชาย ชุด', 128, 11044945),
 (6, 'LOOKER - กางเกงChino ทรงกระบอกเล็ก', 290, 11044945),
 (7, 'กางเกงขาสั้น กางเกงขาสั้นลำลอง แห้งเร็ว กางเกงขาสั้น เอวยางยืดคุณภาพดีและราคาถูก ขายร้อนในญี่ปุ่น เกาหลี', 60, 11044945),
 (8, 'กางเกงในชาย กางเกงในผู้ชาย แพ็ค10ตัว M L XL', 153, 11044945),
 (9, 'S-23 เสื้อยืด คอกลมสีพื้นปักมี 15สี M-XL', 68, 11044945)]

In [10]:
%%sql
SELECT * FROM product_class LIMIT 10

 * sqlite:///ecommerce.db
Done.

[(11044945, 'Men Clothes'),
 (11044944, 'Women Clothes'),
 (11044951, 'Mobile & Gadgets'),
 (11044959, 'Beauty & Personal Care'),
 (11044942, 'Health & Wellness'),
 (11044960, 'Baby & Toys'),
 (11044952, 'Watches & Glasses'),
 (11044956, 'Home & Living'),
 (11044949, 'Men Shoes'),
 (11044964, 'Bags')]

In [11]:
%%sql
WITH sum_transaction AS (
SELECT product_class_id
, product_name
, sum(quantity * retail_price) as sales_value
, ROW_NUMBER() OVER(PARTITION BY product_class_id ORDER BY sum(quantity * retail_price) DESC, quantity DESC) as rank
FROM sales_transaction a
INNER JOIN product b
ON a.product_id = b.product_id
WHERE a.product_id IS NOT NULL
GROUP BY product_class_id
, product_name
)

SELECT a.product_class_id
, product_class_name
, rank
, product_name
, sales_value
FROM sum_transaction a
INNER JOIN product_class b
ON a.product_class_id = b.product_class_id
WHERE rank <= 2
ORDER BY a.product_class_id, sales_value DESC

 * sqlite:///ecommerce.db
Done.

[(11044942, 'Health & Wellness', 1, 'Sinocare เครื่องตรวจวัดระดับน้ำตาลในเลือด เครื่องตรวจน้ำตาล(เบาหวาน) รุ่น Safe Accu เครื่องตรวจ+เข็มเจาะ+แผ่น แม่นยำ100%', 2241),
 (11044942, 'Health & Wellness', 2, '【ซึมเร็วสุด!！】ไม่รู้สึก ผ้าอ้อมผู้ใหญ่ Andlove ใช้ได้ทั้งชายหญิง ปลี่ยนง่าย M/L/XL(10 Pcs/1 Pack) adult diapers pants', 936),
 (11044943, 'Food & Beverages', 1, '[15 Feb  ลดเหลือ 9 .-] Wel-B Freeze-dried Strawberry 14g (สตรอเบอรี่กรอบ 14g. ตราเวลบี) 1 ซอง 33 บาท - ขนม', 5994),
 (11044943, 'Food & Beverages', 2, 'ถั่วพิสตาชิโอ้เกรดเอ(U.S.A) 500กรัม', 1107),
 (11044944, 'Women Clothes', 1, '🔥G50🔥เอว 25-39" กางเกงเอวสูงไร้ขอบ ซิปข้าง ยาว39" กางเกงผ้าโรเชฟแท้ เนื้อดี ขาเดฟ9ส่วน ใส่ทำงาน เหมาะสำหรับสาวไซส์ S-7XL', 1773),
 (11044944, 'Women Clothes', 2, 'กางเกงทรงบอย เอวสูง ผ้าเปเป้ 👗งานป้าย Rainbow Shop💕 กางเกงขากระบอกเล็กทรงบอย 9 ส่วน(BB)', 1701),
 (11044945, 'Men Clothes', 1, 'กางเกงขายาวชิโน่ ผ้ายืด ทรงกระบอกเล็ก (Slim-fit) by Normal Boy', 3510),
 (11044945, 'Men Clothes', 2, 'กางขากระบอกใหญ่ Lazy ขาเริ่มต้นที่9', 3150),
 (11044946, 'Home Entertainment', 1, '[ผ่อน 0%] AIWA Retro Bluetooth Speaker ลำโพงบลูทูธพกพา BASS++', 5780),
 (11044946, 'Home Entertainment', 2, 'SHURE UR01/UR02 ไมโครโฟนไร้สาย 2 ไมโครโฟนแบบใช้มือถือ 50M ระยะทางรับ UHF FM Cyclic ชาร์จไม่มีการรบกวน KTV เวทีวงดนตรีป', 1794),
 (11044947, 'Pets', 1, 'Valla เบาะที่นอนสุนัข รุ่นกันน้ำ กันรา \u200bมีทุกไซส์ ที่นอนหมา ที่นอนสัตว์เลี้ยง Dog Bed Cushion เบาะหมาใหญ่ แมว บ้านหมา', 1650),
 (11044947, 'Pets', 2, 'ที่นอนแมว ที่นอนแมวนุ่ม เตียงแมว เบาะ ที่นอนสัตว์เลี้ยง เตียงสุนัข เบาะแมว นุ่มสบาย พื้นกันลื่นด้านล่าง ซักได้', 1332),
 (11044948, 'Women Shoes', 1, 'รองเท้าพื้นนิ่ม ลายน้องก้อนเมฆ สีขาว สีดำ สีเหลือง สีชมพู สีม่วง สีพาสเทล', 441),
 (11044948, 'Women Shoes', 2, 'รองเท้าแตะพื้นนิ่ม ลายน้องไก่กุ๊กๆ น่ารักมาก สีพาสเทล', 441),
 (11044949, 'Men Shoes', 1, 'BAOJI บาโอจิ รองเท้าหนังผู้ชาย รองเท้าคัทชูผู้ชาย BJ3385', 2793),
 (11044949, 'Men Shoes', 2, '[ใส่โค้ด KDMSJ ลด 20%]🍀รองเท้าผ้าใบนันยางของแท้100% 🍀 รุ่น 205-S รองเท้านักเรียนชาย นันยาง 3สี เบอร์ 30-45 แท้ทน', 1494),
 (11044950, 'Motors', 1, 'Disney หูฟัง TWS หูฟังบลูทูธ bluetooth 5.3 หูฟังบลูทูธไร้สาย HiFi หูฟังไร้สาย Earphone สําหรับ IOS Android 100%ORI', 1782),
 (11044950, 'Motors', 2, 'ยางนอกมอเตอร์ไซค์ ยี่ห้อ SAMSON ขอบ17 มอก พ6002-39/2720', 1170),
 (11044951, 'Mobile & Gadgets', 1, 'Samsung Galaxy A73 5G (8/128GB)', 143991),
 (11044951, 'Mobile & Gadgets', 2, '*ส่งฟรี* ซิมเทพ ทรู ดีแทค AIS ซิมเน็ตที่คุ้มที่สุด ซิมรายปี โทรฟรี Sim 5G ออกใบกำกับภาษีได้ MelonThai เก็บเงินปลายทาง', 5950),
 (11044952, 'Watches & Glasses', 1, 'นาฬิกาข้อมือผู้ชายCasio G-Shock สายเรซิ่น รุ่น GA-120-1A สีดำ รับประกันห1ปี', 3591),
 (11044952, 'Watches & Glasses', 2, 'OLEVS นาฬิกาข้อมือผู้หญิง กันน้ำ สายสเตนเลส สีขาว สีดำ ทอง เงิน', 2736),
 (11044953, 'Tickets and Vouchers', 1, 'สล็อต FLASH SALE แพ็กเกจ Gold 2023 (4 สล็อต)', 19260),
 (11044953, 'Tickets and Vouchers', 2, 'บัตรนวด Healthland นวดไทย ห้องส่วนตัว / นวดน้ำมันอโรม่า ห้องส่วนตัว / Body Scrub ห้องส่วนตัว / นวดเท้า', 5220),
 (11044954, 'Fashion Accessories', 1, 'หมวกบักเก็ต เปิดใบหน้า ผ้ากํามะหยี่ขนนิ่ม แบบหนา ขนาดเล็ก ให้ความอบอุ่น สไตล์ญี่ปุ่น แฟชั่นฤดูใบไม้ร่วง สําหรับผู้หญิง', 441),
 (11044954, 'Fashion Accessories', 2, 'มาใหม่ เข็มขัดผู้ชาย เข็มขัดทหาร เข็มขัดยุทธวิธี เข็มขัดปลดไว เข็มขัดปีนเขา เดินป่า Tactical Belt', 162),
 (11044955, 'Home Appliances', 1, 'เตาย่างบาร์บีคิวใช้ถ่านแบบพกพา พับได้ น้ำหนักเบา', 1962),
 (11044955, 'Home Appliances', 2, 'AmazeFan เครื่องดูดฝุ่นขนาดเล็ก ดูดฝุ่นแบบพกพาไร้เสาย \u200bจิ๋ว มือถือ 9000Pa usb ที่ดูดฝุ่นในรถยนต์ ภายในบ้าน เตียง ที่นอน', 1701),
 (11044956, 'Home & Living', 1, '🔥TOP🔥 ไฟแต่งห้อง กันน้ำ✨รับประกัน20 ปี✨ ไฟติดห้อง RGB ไฟ LED แบบเส้น 10m การซิงโครไนซ์เพลง ไฟตกแต่งห้อง สำหรับตกแต่งบ้าน', 594),
 (11044956, 'Home & Living', 2, 'ส่งฟรี ถุงซีลสูญญากาศ ใช้เก็บอาหารถุงลายนูนมีความหนา190ไมคอรน(100ใบ) หน่วยเซนติเมตรKING SHOP', 432),
 (11044957, 'Stationery, Books & Music', 1, 'TR Tape เทปใส เทปสีน้ำตาล กว้าง 2นิ้ว ยาว 100หลาเต็ม แพ็ค6ม้วน สุดคุ้ม', 981),
 (11044957, 'Stationery, Books & Music', 2, 'สูญญากาศติดกระจก (ไม่มีกาว) ชุดวาเลนไทน์ Valentine เดือนแห่งความรัก พร้อมส่งจากไทย ชุดเทศกาล แต่งร้านดอกไม้ หัวใจ', 450),
 (11044958, 'Computers & Laptops', 1, '[Software] Microsoft 365 Personal (M365) Subscribe 1 Year', 4110),
 (11044958, 'Computers & Laptops', 2, '🔥เตรียมการจัดส่ง🔥หูฟังไร้สายรุ่น i14pro TWS หูฟังบลูทูธ สีสวย ลายการ์ตูนน่ารัก Bluetooth 5.0 รองรับสมาร์ทโฟนทุกรุ่น', 1341),
 (11044959, 'Beauty & Personal Care', 1, 'Dr.PONG 444 BlueX iron oxide plus melanin hybrid sunscreen SPF50  Ectoin Niacinamide ครีมกันแดดป้องกัน', 3591),
 (11044959, 'Beauty & Personal Care', 2, 'Dr.Pong Hyaluronic Ultra Light Sunscreen with Aquatide SPF50 PA+++ ครีมกันแดดหน้าสูตรอ่อนโยน', 1794),
 (11044960, 'Baby & Toys', 1, 'SIV <ช็อปปี้ราคาถูกที่สุดแล้ว> ที่กั้นเด็ก ที่กั้นบันได รั้วกั้นเด็ก รั้วกั้นบันได ไม่ต้องเจาะผนังรุ่นใหม่หลายขนาด', 1971),
 (11044960, 'Baby & Toys', 2, 'COD 👌💕พร้อมส่ง💕 ชุดไดโนเสาร์เด็ก ชุดมาสคอต ชุดก็อตจิ รุ่นเด็กเล็ก ชุดการ์ตูน ชุดปิกาจู ชุดก๊อตซิลล่า ชุดไดโนเสาร์ ชุดงา', 1554),
 (11044961, 'Gaming & Hobbies', 1, '[E-Voucher] การีนาเชลล์ 1500 Shells', 8820),
 (11044961, 'Gaming & Hobbies', 2, 'จอยครอบจักรวาลV.4 ต่อได้ทุกเครื่อง จอย ios / Android / Ps4 / PC / Joy Pro / Nintendo Switch / Genshin / Apex / Steam', 3353),
 (11044962, 'Sports & Outdoors', 1, 'WARRIX เสื้อเชียร์ทีมชาติไทย Thailand National Team Kit 2021-22 ( Cheer Version ) WA-214FBATH53', 2088),
 (11044962, 'Sports & Outdoors', 2, 'รถขาไถ รถจักรยานขาไถ รถจักรยานทรงตัว รถจักรยานบาล๊านซ์ รถจักรยานสำหรับเด็กฝึกหัด', 1575),
 (11044963, 'Cameras', 1, 'องศาในเที่ยวบินต่อเนื่อง50กม./ชม.โดรนบังคับ 8K เลนส์คู่ โดรนบังคับวิทยุ ถ่ายภาพ บินนิ่ง ถ่ายวีดีโอชัด โดรนติดกล้อง โดรนค', 7065),
 (11044963, 'Cameras', 2, 'กล้องวงจรปิด wifi มีภาษาไทย 5ล้าน HD 5.0MP กล้องวงจรปิดไร้สาย Wirless IP camera 5M / 5เสา กล้องรักษาความปลอดภัย', 2925),
 (11044964, 'Bags', 1, '[สินค้าสมนาคุณงดจำหน่าย] เมื่อซื้อครบ 699.- กดรับฟรี กระเป๋าแฟชั่นคละแบบ 1 ใบ (มูลค่า 399.-)', 1197),
 (11044964, 'Bags', 2, 'กระเป๋าสะพายผญ กระเป๋าหนังผญ กระเป๋าทำงาน ดูแพงมาก! ใหม่ปี2022', 1014),
 (11080708, 'ShopeePay Near Me', 1, 'OOTOYA : สุกียากี้หมูนาเบะ(Set)+โคโรเกะชีส+วาราบิโมจิ+ไอศกรีม(MachaหรือVanilla)', 3073),
 (11080708, 'ShopeePay Near Me', 2, 'Pepper Lunch : พาสต้าเบคอนพริกแห้ง (เฉพาะทานที่ร้านเท่านั้น)', 1404)]